@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #1e1e1e;
    width: 100%;
}

header {
    background-color: black;
}

#coluna-logo {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#coluna-logo img {
    width: 180px;
}

#coluna-carrinho {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px;
}

#coluna-carrinho > a img {
    width: 30px;
}

.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

#confirmar-compra {
    background-color: green !important;
    border-color: green !important;
}

#fechar-modal {
    
}

#destaques-header, #cardapio-header, #ofertas-header {
    margin-top: 20px;
    font-size: 0.8em;
    position: relative;
}

#destaques-header a, #cardapio-header a, #ofertas-header a{
    text-decoration: none;
}

.link-header {
    margin: auto;
    text-align: center;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 5px;
    width: 90%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(80, 80, 80);
    box-shadow: 1px 2px 3px rgb(80, 80, 80, 0.400);
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.link-header:hover {
    background-color: rgb(48, 48, 48);
    border-color: rgb(48, 48, 48);
    box-shadow: 3px 2px 3px rgb(48, 48, 48);
    transition: 0.4s;
    cursor: pointer;
}

#destaques-header > a > button {
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    box-shadow: 1px 2px 3px rgb(255, 115, 0); 
}

.link-header > img {
    width: 25px;
    margin-right: 5px;
}

.imagem-carrinho {
    width: 25px;
}

#linha-separador-conteudo {
    margin: auto;
    width: 95vw;
    margin-top: 15px;
}

#linha-separador-conteudo hr {
    color: black;
    margin: 0px;
}

.hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(255, 255, 255), transparent);  
  }

#coluna-imagem-main-destaques {
    margin-top: 20px;
    text-align: center;
}

.botao-imagem-main-destaques{
    width: 95%;
    background-color: transparent;
    border: none;
    margin-bottom: 25px;
}

.botao-imagem-main-destaques:hover {
    cursor: pointer;
}

.imagem-main-destaques {
    position: relative;

}

.imagem-main-destaques > img {
    width: 95%;
    border-radius: 10px;
    margin: auto;
}

.imagem-main-destaques > label {
    position: absolute;
    left: 5%;
    top: 68%;
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black;
}







 footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(80, 80, 80);
    color: #FFF;
    width: 100%;
    height: 60px;    
    text-align: center;
 }

 .imagem-rodape {
    width: 30px;
 }

 .div-rodape-imagem {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 38px;
 }

 .div-rodape-texto {
    font-size: 0.8em;
 }

 #menu-footer {
    color: rgb(255, 115, 0);
    font-weight: bolder;
 }

 .link-rodape {
    text-decoration: none;
    color: white;
 }

 .link-rodape:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
 }
